{% include "../_includes/head.twig" %}
{% include "../_includes/nav.twig" %}
        <div class="container">
            <div class="row">
                <main class="col" role="main">
                    <h1>{{ pageName }}</h1>
                    {% block content %}
                    {% endblock %}
                </main>
            </div>
        </div>
{% include "../_includes/footer.twig" %}