{% include "../_includes/head.twig" %}
<div class="container">
    <div class="row">
        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
            <div class="jumbotron">
                <h1 class="display-4">{{ message }}</h1>
                <a class="btn btn-primary btn-lg" href="/home" role="button">Go Home</a>
            </div>
        </main>
    </div>
</div>
{% include "../_includes/footer.twig" %}