<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Julian Jupiter">
        <link rel="icon" href="assets/images/favicon.ico">
        <title>{{ applicationName }} - {{ pageName }}</title>
        <link href="assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/vendor/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
        <link href="assets/css/main.css" rel="stylesheet">
    </head>
  <body>